<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <br>
    <h2>Create New Listing</h2>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label"  >Title</label>
                <input type="text" id="title" name="l[title]" class="form-control" required>
         </div>

    <div class="mb-3">
        <label for="description" class="form-label"  >Description</label>
        <textarea id="description" name="l[description]" class="form-control" required ></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label"  >Image URL</label>
        <input type="text" id="image" name="l[image]" class="form-control" required>
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label"  >Price</label>
        <input type="number" id="price" name="l[price]" class="form-control" required>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-label"  >Country</label>
        <input type="text" id="country" name="l[country]" class="form-control" required>
        </div>

    </div>
    

    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" name="l[location]" class="form-control" required>
    </div>

    


            <button class="btn btn-dark">Add</button>
            
        </form>
        <br><br>
        </div></div>
    
</body>
